.banner {

    background-image: url(../img/gmi.png) ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height:70vh

}
h1{
    color: white;
    text-shadow: 4px 3px 3px rgba(0, 0, 0, 0.47);
}
p{
    
}

.perfil{
    border-radius: 50%;
    height: 60vh;
    border: 5px solid whitesmoke;
}
.myname{
    font-size: 2.5rem;
    font-weight: 300;
    text-align: center;
    
}



@media (max-width: 576px) {
    .banner{
        background-position: right;
        height: 100vh;
    }
    .perfil{
        height: 100%;
    }
    .myname{
        font-size: 2.5rem;
        font-weight: 300;
        text-align: center;
    }

}


@media (min-width: 577px) and (max-width: 1200px) {
    .banner{
        background-position: right;
        height: 80vh;
    }
    .perfil{
        height: 100%;
    }
    .myname{
        font-size: 2.5rem;
        font-weight: 300;
        text-align: center;
    }
}

@media (max-width: 992px) {


}

@media (max-width: 1200px) { 


}

@media (max-width: 1400px) { 


}